@import './bootstrap/bootstrap.scss';

body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-top: 20px;
  color: theme-color("primary");
}

.h4 {
  background-color: $gray-300;
  color: #fff;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
}

button {
  &:hover {
    cursor: pointer;
  }
}

nav {
  border-bottom: 2px solid theme-color("primary");
  height: 7vh;
  background-color: #fff;
}

p {
  color: #333;
  &.lab {
    color: $lab;
  }
  &.con {
    color: $con;
  }
  &.ld {
    color: $ld;
  }
  &.snp {
    color: $snp;
  }
  &.pc {
    color: $pc;
  }
  &.green {
    color: $green;
  }
  &.ukip {
    color: $ukip;
  }
  &.otherWinner {
    color: $other;
  }
  &.dup {
    color: $dup;
  }
  &.sf {
    color: $sf;
  }
}

path.constituency-path {
  stroke-width: 0.01;
  stroke: #999;
  &.lab {
    fill: $lab;
  }
  &.con {
    fill: $con;
  }
  &.ld {
    fill: $ld;
  }
  &.snp {
    fill: $snp;
  }
  &.pc {
    fill: $pc;
  }
  &.green {
    fill: $green;
  }
  &.ukip {
    fill: $ukip;
  }
  &.otherWinner {
    fill: $other;
  }
  &.dup {
    fill: $dup;
  }
  &.sf {
    fill: $sf;
  }
  &:hover {
    fill-opacity: 0.6;
  }
}

div {
  &.lab {
    background-color: $lab;
  }
  &.con {
    background-color: $con;
  }
  &.ld {
    background-color: $ld;
  }
  &.snp {
    background-color: $snp;
  }
  &.pc {
    background-color: $pc;
  }
  &.green {
    background-color: $green;
  }
  &.ukip {
    background-color: $ukip;
  }
  &.other {
    background-color: $other;
  }
  &.otherWinner {
    @extend .other;
  }
  &.dup {
    background-color: $dup;
  }
  &.sf {
    background-color: $sf;
  }
  &.seats-display-container {
    display: flex;
    flex-wrap: wrap;
    .seat-display {
      min-width: 7px;
      min-height: 7px;
      margin: 1px;
    }
  }
  &.vote-share-chart {
    .party-label {
      display: flex;
      font-size: $font-size-sm;
    }
    .vote-share {
      height: 25px;
    }
    .vote-share-percentage {
      margin: 0 0 0 5px;
      font-size: $font-size-sm;
    }
  }
  &.modifiers-display {
    border: 1px solid $gray-100;
  }
}

input {
  &[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    outline: none;
    overflow: hidden;
  }
  &.from-lab {
    background: $lab;
  }
  &.from-con {
    background: $con;
  }
  &.from-ld {
    background: $ld;
  }
  &.from-snp {
    background: $snp;
  }
  &.from-pc {
    background: $pc;
  }
  &.from-green {
    background: $green;
  }
  &.from-ukip {
    background: $ukip;
  }
  &.from-dup {
    background: $dup;
  }
  &.from-sf {
    background: $sf;
  }
}

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"].to-lab::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $lab;
  border-left: 2px solid $lab;
}
input[type="range"].to-con::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $con;
  border-left: 2px solid $con;
}
input[type="range"].to-ld::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $ld;
  border-left: 2px solid $ld;
}
input[type="range"].to-snp::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $snp;
  border-left: 2px solid $snp;
}
input[type="range"].to-pc::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $pc;
  border-left: 2px solid $pc;
}
input[type="range"].to-green::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $green;
  border-left: 2px solid $green;
}
input[type="range"].to-ukip::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $ukip;
  border-left: 2px solid $ukip;
}
input[type="range"].to-dup::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $dup;
  border-left: 2px solid $dup;
}
input[type="range"].to-sf::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px $sf;
  border-left: 2px solid $sf;
}
input[type="range"].from-lab::-webkit-slider-thumb {
  border-right: 2px solid $lab;
}
input[type="range"].from-con::-webkit-slider-thumb {
  border-right: 2px solid $con;
}
input[type="range"].from-ld::-webkit-slider-thumb {
  border-right: 2px solid $ld;
}
input[type="range"].from-snp::-webkit-slider-thumb {
  border-right: 2px solid $snp;
}
input[type="range"].from-pc::-webkit-slider-thumb {
  border-right: 2px solid $pc;
}
input[type="range"].from-green::-webkit-slider-thumb {
  border-right: 2px solid $green;
}
input[type="range"].from-ukip::-webkit-slider-thumb {
  border-right: 2px solid $ukip;
}
input[type="range"].from-dup::-webkit-slider-thumb {
  border-right: 2px solid $dup;
}
input[type="range"].from-sf::-webkit-slider-thumb {
  border-right: 2px solid $sf;
}
